/* awards.css:  Stylesheets to make the Awards look Glamorous */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

* {
	font-family:  Source Sans Pro;
	color:  white;
}

html{
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-color:  black;
}

#back {
	position: relative;
	bottom: 25%;
	text-decoration: underline;
}

li {
	text-decoration: underline;
}

embed {
	background-color: black;
}

a:hover, li:hover, #back:hover {
	opacity: 50%;
	transition: 0.25s;
}

footer {
	position: relative;
	font-family: Verdana;
	top: 1%;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size:  1.25em;
}

h3 {
	font-size: 1em;
}

#showAward {
	width: 100%;
	height:100%;
}

#embed {
	width: 100%;
	height: 100%;
}