/* nps.css:  Stylesheet for TheDoVlog's NPS Blogs /*
/* Author:  Timothy Do */

body {
	background-color:  black;
}

h1, h2, h3, p, figcaption, span {
	font-family: Georgia;
	color:  white;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
p { font-size: 1.5em; }

a {
	color: blue;
	opacity: 100%;
	position: relative;
}

a:hover {
	opacity: 50%;
	transition: 0.25s;
}

img {
	opacity: 100%;
}

img:hover {
	opacity: 50%;
	transition: 0.25s;
}

figure {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

figcaption {
	font-size: 1.25em;
	padding: 0.5em;
	display: inline-block;
}


figure, figcaption, footer, p {
	animation: fadeIn ease 1.5s;
}

.inline {
	display: inline-block;
}

.postcard {
	animation: fadeIn ease 1s;
	width: 18.5em;
}

@keyframes fadeIn {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

#favorite {
	align: center;
	width: 25em;
}